.login_form_label {
  display: block;

  margin-bottom: 9px;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  text-align: left;
}

.textarea_name {
  box-sizing: border-box;
  width: 400px;
  height: 39px;
  padding-left: 18px;

  font-family: "Roboto";

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.input_username {
  margin-bottom: 10px;

  text-align: left;
}

.input_roomname {
  margin-bottom: 10px;

  text-align: left;
}

.input_discussionName {

  text-align: left;
}
