.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25%;

  padding: 55px 105px 63px 105px;

  font-family: "Roboto";

  text-align: center;

  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 3px #d5d9de;
}

.login_form_h2 {
  margin-bottom: 14px;

  color: #131b23;
  font-weight: normal;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
}

.login_form_button {
  width: 400px;
  height: 39px;

  background: #4b9ae8;
  border-radius: 4px;
}
