<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProgramSettings"
             type="Task_12.ProgramSettingsConfig, Task_12"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <ProgramSettings>
    <instances>
    <add IntSetting="1" 
         StrSetting="First"/>
    <add IntSetting="2" 
         StrSetting="Second"/>
    <add IntSetting="3"
         StrSetting="Third"/>
    <add IntSetting="4"
         StrSetting="Forth"/>
    <add IntSetting="5"
         StrSetting="Fifth"/>
    </instances>
  </ProgramSettings>
</configuration>