@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*@import "../normalize.css";*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "Roboto";

  background: #edf2f7;
}

* {
  margin: 0;
  padding: 0;
}

button,
label {
  cursor: pointer;
}

button {
  border: none;
}

.main_header,
.main_footer,
.main_main {
  /*min-width: 750px;*/
  margin: 0 auto;
}

.main_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 90px;

  background: #ffffff;
}

.main_main {
  /*display: flex;
  flex-direction: column;*/
  flex-grow: 1;
  /*margin-bottom: 52px;*/
}

.main_page_url_name {
  color: #131b23;
  font-weight: normal;
  font-size: 48px;
  /*margin-top: 18px;*/
  font-style: normal;
  line-height: 56px;
}

.main_page_url_logo {
  width: 48.33px;
  height: 48.33px;
  /*margin-top: 17px;*/
  margin-right: 16px;
}

.main_page_url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin-left: 9%;*/
  /*margin-left: 120px;*/

  text-decoration: none;
}

.user_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*margin-right: 125px;*/

  color: #131b23;
  font-weight: normal;
  font-size: 18px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 21px;

  background: transparent;
  border: none;
}

.main_header_content_block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.user_btn_username {
  width: 250px;
  overflow: hidden;

  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
}

.card {
  display: inline-flex;
  width: 132px;
  height: 174px;
  margin-right: 13px;
  margin-bottom: 13px;

  font-size: 46px;
  /*font-family: "Roboto";*/

  background: #ffffff;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-shadow: 0 0 6px 1px rgba(1, 1, 1, 0.05);
}

.card_text {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.card:hover {
  box-shadow: 0 0 6px 3px rgba(1, 1, 1, 0.25);
}

.radio:checked + .card {
  color: #ffffff;

  background-color: #4b9ae8;
  box-shadow: 0 0 6px 1px rgba(1, 1, 1, 0.05);

  fill: #ffffff;
}

.radio {
  /*display: none;*/
  position: absolute;
  top: 0;
  z-index: -1;

  opacity: 0;
}

.enter_btn {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;
  text-align: center;

  background: #4b9ae8;
  border-radius: 4px;
}

.enter_btn:hover {
  background: #418cd6;
  border-radius: 4px;
}

.enter_btn:active {
  background: #3069a1;
  border-radius: 4px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  /*margin-bottom: 43px;
  margin-left: 125px;
  margin-right: 23px;*/
}

.main_block_name {
  margin-top: 54px;
  margin-bottom: 31px;
  /*margin-left: 125px;*/

  color: #131b23;
  font-weight: normal;
  font-size: 26px;
  /* margin-left: 125px;*/
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 30px;
}

.main_block {
  display: flex;
  /*flex-wrap: nowrap;
  align-items: baseline;*/
  justify-content: space-between;
  /*margin-left: 125px;*/
  max-width: 1032px;
}

.story_vote {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  /*margin-left: 23px;*/
  width: 295px;
  margin-top: 31px;
  /*margin-right: 126px;*/
  margin-bottom: auto;
  margin-left: 20px;

  background: #ffffff;

  border-right: 1px solid #f2f3f4;
  border-bottom: 1px solid #f2f3f4;
  border-left: 1px solid #f2f3f4;
  border-radius: 4px;
}

.story_vote_header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;

  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  /*font-family: "Roboto";*/
  font-style: normal;

  background: #4b9ae8;
  border-radius: 4px 4px 0 0;
}

.players_name_row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 67px;

  border-bottom: 1px solid #f2f3f4;
}

.players_name_text {
  margin-left: 24px;

  color: #000000;
  font-weight: normal;
  font-size: 18px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 21px;
}

.players_table {
  box-sizing: border-box;
  width: 100%;

  border-collapse: collapse;
}

.row {
  display: flex;
  align-items: center;
  height: 67px;

  border-bottom: 1px solid #f2f3f4;
}

.cell_user_icon {
  padding: 0 0 0 24px;
}

.cell_username {
  width: 50px;
  padding: 0 0 0 16px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.cell_voted_icon {
  margin-right: 27px;
  margin-left: auto;
  /*padding: 0 0 0 120px;*/
}

.story_vote_button {
  box-sizing: border-box;
  width: 252px;
  height: 39px;
  margin-top: 45px;
  margin-left: 22px;

  color: #4b9ae8;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;
  text-align: center;

  background: #ffffff;
  border: 1px solid #4b9ae8;
  border-radius: 4px;
}

.story_vote_button:hover {
  color: #418cd6;

  border: 1px solid #418cd6;
}

.story_vote_button:active {
  color: #3069a1;

  border: 1px solid #3069a1;
}

.story_vote_invite_friend {
  margin-top: 42px;
  margin-bottom: 28px;
  margin-left: 22px;

  font-weight: normal;
  font-size: 20px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 23px;
}

.story_vote_invite_friend_url {
  box-sizing: border-box;

  width: 252px;
  height: 39px;
  margin-top: 10px;
  padding-left: 14px;

  color: #131b23;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.main_footer {
  display: flex;
  width: 100%;
  height: 70px;
  margin-top: 10px;

  background: #ffffff;
}

.main_footer_content_block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.main_footer_copyright {
  color: #808284;
  font-weight: normal;
  font-size: 12px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 14px;
}

.main_footer_url {
  color: #4b9ae8;
  font-weight: normal;
  font-size: 12px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 14px;
  text-decoration: none;
}

.story_vote_result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 52px;
  padding-top: 36px;
  padding-right: 102px;
  padding-bottom: 61px;
  padding-left: 89px;

  background: #ffffff;
}

.story_vote_result_circle {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  width: 260px;
  height: 260px;/*
  margin-top: 62px;
  margin-bottom: 10px;
  margin-left: 89px;*/
  padding: 15px;

  text-align: center;

  border: 10px solid cornflowerblue;
  border-radius: 55% 55% 55% 55%;
}

.line_players_count {
  margin-top: 100px;

  color: #131b23;
  font-weight: normal;
  font-size: 26px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 30px;
}

.line_voted_caption {
  margin-top: 4px;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 16px;
}

.line_vote_avg_vote {
  margin-top: 4px;
  overflow: hidden;

  color: #131b23;
  font-weight: normal;
  font-size: 26px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 30px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.story_vote_result_info {
  display: flex;
  flex-direction: column;
  /*margin-top: 36px;*/
  /*margin-right: 102px;*/
  margin-left: 114px;
}

.vote_value_dot_1 {
  color: #f8e71d;
  font-size: 2em;
}

.vote_value_dot_2 {
  color: #225378;
  font-size: 2em;
}

.vote_value_mark {
  color: #131b23;
  font-weight: normal;
  font-size: 20px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 23px;
}

.vote_value_info {
  display: flex;
  width: 100px;
  margin-top: 9px;
  margin-bottom: 38px;
  overflow: hidden;

  color: #131b23;
  font-weight: normal;
  font-size: 14px;
  /*font-family: "Roboto";*/
  font-style: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.completed_stories {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  /*max-width: 715px;*/
  margin-right: 315px;
  margin-bottom: 52px;
  /*margin-left: 125px;*/

  background: #ffffff;

  border-right: 1px solid #f2f3f4;
  border-bottom: 1px solid #f2f3f4;
  border-left: 1px solid #f2f3f4;
  border-radius: 4px;
}

.completed_stories_text_and_amount_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 21px;
}

.completed_stories_amount_icon {
  display: flex;
  width: 25px;
  height: 20px;
  margin-left: 13px;

  background: #c9cfd6;
  border: 1px solid gray;
  border-radius: 50% 50% 50% 50%;
}

.completed_stories_amount_icon_stories_count {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;

  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 12px;
}

.completed_stories_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;

  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  /*font-family: "Roboto";*/
  font-style: normal;

  background: #4b9ae8;
  border-radius: 4px 4px 0 0;
}

.completed_stories_download_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14px;
  height: 17px;
  margin-right: 21px;

  background: transparent;
  border: none;
}

.completed_stories_delete_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14px;
  height: 18px;
  margin-right: 21px;

  background: transparent;
  border: none;
}

.completed_stories_cell_storyname {
  width: 130px;
  margin-left: 21px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.completed_stories_cell_avg_vote {
  width: 30px;
  margin-left: auto;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.completed_stories_cell_delete_story_button {
  margin-left: auto;
}

.story_vote_go_search_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.go_btn {
  width: 68px;
  height: 39px;

  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;
  text-align: center;

  background: #4b9ae8;
  border-radius: 0 4px 4px 0;
}

.story_vote_go_textbox {
  box-sizing: border-box;
  width: 184px;
  height: 39px;
  padding-left: 14px;

  color: #131b23;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;

  border: 1px solid #d5d9de;
  border-radius: 4px 0 0 4px;
}

.go_btn:hover {
  background: #418cd6;
  border-radius: 4px 0 0 4px;
}

.go_btn:active {
  background: #3069a1;
  border-radius: 4px 0 0 4px;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25%;

  padding: 55px 105px 63px 105px;

  text-align: center;

  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 3px #d5d9de;
}

.login_form_h2 {
  margin-bottom: 14px;

  color: #131b23;
  font-weight: normal;
  font-size: 30px;
  /*margin-top: 55px;*/
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 35px;
}

.login_form_action_name {
  margin-bottom: 20px;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 16px;
  text-align: center;
}

.login_form_label {
  display: block;

  margin-bottom: 9px;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
  /*font-family: "Roboto";*/
  font-style: normal;
  line-height: 16px;
  text-align: left;
}

.login_form_button {
  width: 400px;
  height: 39px;

  background: #4b9ae8;
  border-radius: 4px;
}

.textarea_name {
  box-sizing: border-box;
  width: 400px;
  height: 39px;
  padding-left: 18px;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.input_username {
  margin-bottom: 10px;

  text-align: left;
}

.input_roomname {

  text-align: left;
}

.input_enter_btn {
  margin-top: 36px;
  /*margin-bottom: 63px;*/
}

.story_details {
  width: 715px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;

  background: #ffffff;

  border-right: 1px solid #f2f3f4;
  border-bottom: 1px solid #f2f3f4;
  border-left: 1px solid #f2f3f4;
  border-radius: 4px;
}

.story_details_header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;

  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  /*font-family: "Roboto";*/
  font-style: normal;

  background: #4b9ae8;
  border-radius: 4px 4px 0 0;
}

.story_details_button {
  box-sizing: border-box;
  width: 252px;
  height: 39px;
  margin-top: 45px;
  margin-right: 27px;
  margin-bottom: 20px;
  margin-left: 436px;

  color: #4b9ae8;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;
  text-align: center;

  background: #ffffff;
  border: 1px solid #4b9ae8;
  border-radius: 4px;
}

.story_details_button:hover {
  color: #418cd6;

  border: 1px solid #418cd6;
}

.story_details_button:active {
  color: #3069a1;

  border: 1px solid #3069a1;
}
